
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 50px;
}


@media (max-width: 600px) {
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.thumbnail {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.video-time {
  position: absolute;
  bottom: 7%;
  right: 4%;
  background-color: rgba(0,0,0, 0.85);
  border-radius: 4px;
  color: white;
  font-family: Roboto, Arial;
  font-weight: 500;
  font-size: 14px;
  padding: 3px;
  padding-right: 7px;
  padding-left: 7px;
}

.thumbnail-container {
  position:relative;
  margin-bottom: 7px;
}

.video-title {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}

.video-author {
  color: #606060;
  font-size: 10px;
  cursor: pointer;
}

.video-stats {
  color: #606060;
  font-size: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.channel-picture-container {
  vertical-align: top;
}

.channel-picture {
  width: 80%;
  border-radius: 50%;
  cursor: pointer;
}